<% const levels = dimension[property]; let n = 0;%> 
<% for( elements in levels ) { %>

    <% if(elements !== "dimensionId" && elements !== "dimension" && elements !== "formularyId") { %>
        <% for (data of levels[elements]) {  %> 
            <tr>
                <td scope="col" class="wd-min">
                    <%= n+1 %> 
                </td>
                <td scope="col" class="wd-min" >
                    <%= data  %>
                </td>
                <% for( let k = 0; k < 5; k++ ) { %>
                    <td scope="col" class="wd-min" style="vertical-align: middle;">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" 
                            value="<%= k+1 %>" style="vertical-align: middle;"
                            name="<%= elements %>-<%= levels.formularyId[n] %>" 
                            id="<%= elements %>_<%= (k+1) %>-<%= levels.formularyId[n] %>"
                            style="vertical-align: middle;">
                            <label  for="inlineCheckbox<%= (k+1) %>"></label>
                        </div>
                    </td>
                <% } %>
            </tr>        
        <% n = n +1 ;} %>
        
    <% } %> 
    
<% } %>