<% active = true %>
<% j = 0 %>  

<% for (property in axesByProcess) { %>

    <%  i=0; %> 
    <% if (active === true ) { %> 
        <div class="carousel-item active">                            
            <% active = false; %> 
        
    <% } else { %> 
        <div class="carousel-item">          
    <% } %>  
            <div class="cardBox np-b">
                <div class="card nr-b nmg-b">
                    <div class="cardTitle">
                        <div class="numbers" id="numPos">
                            <%= process.process[j] %>
                        </div>
                        <div class="cardName">   
                            Es necesario hacer una introspección y tener en cuenta que se establece 1 como muy bajo y 5 como muy alto
                        </div>
                    </div>

                    <div class="cardContent" id="cardContent-<%= j+1 %> ">
                        <table class="table">
                            <thead>
                                <tr>
                                    <% for( let z = 0; z <columnHeader.length; z++ ) { %> 
                                        <th scope="col">
                                            <%= columnHeader[z] %> 
                                        </th>
                                    <% } %> 
                                </tr>
                            </thead>
                            <tbody class="dimensionItems" id="<%= process.idSector[j] %> ">
                                <%- include('./minTicTest') %>
                            </tbody>
                        </table>                    
                    </div>
                </div>
            </div>
        </div>
    
<% j=j+1; }; %>


