<% for( let z = 0; z < axesByProcess[property].length; z++ ) { %>
    <tr>
        <td scope="col" class="wd-min">
            <%= z+1  %>
        </td>
        <td scope="col" class="wd-min" >
            <%= axesByProcess[property][z]  %>
        </td>
        <% for( let k = 0; k < 5; k++ ) { %>
            <td scope="col" class="wd-min"> 
                <div class="form-check">
                    <input class="form-check-input" type="radio"
                        name="<%= property %>-<%= id_eje_evaluacion[property][z] %>" 
                        id="<%= property %>_<%= k %>-<%= id_eje_evaluacion[property][z] %>-<%= idProcess[j] %>" 
                        value="<%= k + 1 %>"                      
                        style="vertical-align: middle;">
                    <label class="form-check-label"></label>
                </div>
            </td>
        <% } %>
    </tr>
<% } %>